{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "quotes": ["error", "double"],
    "no-console": "warn",
    "no-debugger": "warn",
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "no-duplicate-imports": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "never"]
  }
}
