@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.youtube-container {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

iframe {
			width: 300%;
			height: 100%;
			margin-left: -100%;
}

.black-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 600px;
		width: 99vw;
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.2); /* Siyah ekranın şeffaflığı */
}


.bg-vid {
		object-fit: cover;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
}


.section {
		position: relative;
		width: 100%;
		height: 700px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

}

.mobile-section {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

}

.content{
		text-align: center;
		z-index: 100;
		opacity: 1;
		position: absolute;
}

.video-container{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}


.black-overlay{
		position: absolute;
		top: 0;
		left: 0;
		background-color: black;
		z-index: 80;
		opacity: 0.3;
		width: 100%;
    height: 100%;
}
	
u {
  color: green;
}

.product-background {
  position: relative;
  overflow: hidden;
}

.product-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17%; /* Adjust this value to control the coverage from top to middle */
  background: linear-gradient(rgba(57, 61, 71, 0.45), rgba(57, 61, 71, 0.2));
  z-index: 1; /* Adjust the z-index as needed */
}

.swiper-button-next:after , .swiper-button-prev:after {
  color: #d4ede5;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  background: #d4ede5 !important;
  opacity: 1;
}

